// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
@use "sass:color";

$primary: #492387;
$secondary: #605470;
$accent: #ede524;

$dark: #1d1d1d;
$dark-page: #252525;

$positive: #21ba45;
$negative: #93000a;
$info: #31ccec;
$warning: #f2c037;

// custom variables
$primary-dark : color.adjust($primary , $lightness : -12%);
$light-bg : #eee;